<h1> <%= @each_student = @all_students.each do |each_student|
each_student
end %> </h1>


<p> <%= "helllllllllow"  %> </p>

<!-- <p><% def index %>
<%= @each_student = Student.find(params[:id]) %>   
<% end %> </p> -->

